<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
</head>
<body>
    <%-include('header.ejs')%>

    <h2>Log-In User</h2>
    <%if(errors && errors.length>0){%>
        <ul>
            <%errors.forEach(error=>{%>
                <li>error.msg</li>
            <%})%>
        </ul>
    <%}%>

    <form action="/log-in" method="POST">
        <label for="username">Username:
            <input type="text" id="username" name="username" required>
        </label>
        <label for="password">Password:
            <input type="text" id="password" name="password" required>
        </label>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>